<div id="<%= dom_id reply %>">
  <p>
    <strong>Reply:</strong>
    <%= reply.reply %>
  </p>

  <p>
    <strong>Main page:</strong>
    <%= reply.main_page_id %>
  </p>

  <p>
    <strong>Commenting:</strong>
    <%= reply.commenting_id %>
  </p>

  <p>
    <strong>Parent:</strong>
    <%= reply.parent_id %>
  </p>

</div>
