<%= form_with(model: commenting) do |form| %>
  <% if commenting.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(commenting.errors.count, "error") %> prohibited this commenting from being saved:</h2>

      <ul>
        <% commenting.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :response, style: "display: block" %>
    <%= form.textarea :response %>
  </div>

  <div>
    <%= form.label :main_page_id, style: "display: block" %>
    <%= form.number_field :main_page_id %>
  </div>

  <div>
    <%= form.label :parent_id, style: "display: block" %>
    <%= form.number_field :parent_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
